[Unit]
Description=Print button pressed random Dilbert's Daily Comic Strip

[Service]
WorkingDirectory=%h/Pibert/cache
ExecStart=%h/Pibert/dilbert_btn.py

[Install]
WantedBy=default.target
