[Unit]
Description=Print Dilbert's Daily Comic Strip of today

[Service]
WorkingDirectory=%h/Pibert/cache
ExecStart=%h/Pibert/dilbert_base.py

[Install]
WantedBy=default.target
